body {
  background-color: gray;
}

.employeeTable {
  border-collapse: collapse;
}

.employeeTable td {
  padding: 6px 10px;
  border: 1px solid #333333;
}

.employeeInfo {
  margin-top: 50px;
}

header {
  height: 200px;
  width: auto;
  background-image: url(employees.png);
  background-size: 1000px 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.title{}
)